{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function () {
            update();

            var area = $('#area')
            var keyword = $('#keyword');


            $('#add').click(function () {
                submit('add')
            });

            $('#del').click(function () {
                submit('del')
            });

            function check() {
                if (keyword.val() == '' && area.val() == '') {
                    $('span').html('不能为空').show();
                    return false;
                } else {
                    $('span').hide();
                    return true;
                }
            }

            function submit(type) {
                if (check()) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'robot:search/update' %}',
                        data: 'type=' + type + '&keyword=' + keyword.val() + '&area=' + area.val(),
                        success: function (data) {
                            $('span').html(data.result).show();
                            update();
                        },
                        error: function (data) {
                            $('span').html('提交错误：' + data.status).show();
                        }
                    });
                }
            }

            function update() {
                $.ajax({
                    type: 'GET',

                    url: '{% url 'robot:search/data' %}',
                    success: function (tables) {
                        $('#table1').html(tables.table1);
                        $('#table2').html(tables.table2);
                        $('#table3').html(tables.table3);
                        $('#table4').html(tables.table4);
                    }
                });
            }
        });
    </script>
    <style>
        #table1, #table2, #table3, #table4 {
            float: left;
            margin-right: 15px;
            font-size: 14px;
        }
        th,td{
            background-color: darkgrey;
            padding-right: 20px;
        }
    </style>
</head>
<body>
<div>
    <label for="area">地区名:</label>
    <input type="text" name="area" id="area">
    <label for="keyword">关键词:</label>
    <input type="text" name="keyword" id="keyword">
    <input type="button" id="add" value="添加">
    <input type="button" id="del" value="删除">
</div>
<div><span style="display: none; font-size: 8px; color: red">错误提示</span></div>
<hr>
<div id="table1">

</div>
<div id="table2">

</div>
<div id="table3">

</div>
<div id="table4">

</div>
</body>
</html>