{% load calc %}

{% for item in stats %}
    <h2>{{ item.app }}</h2>
    <h3>分发统计数据</h3>
    <h4>QQ</h4>
    <table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
        <tr>
            <th>成员</th>
            <th>PV</th>
            <th>下载页</th>
            <th>转化率</th>
            <th>关联安装</th>
            <th>转化率</th>
        </tr>
        {% for stat in item.sum.qq %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.weizhan }}</td>
                <td>{{ stat.download }}</td>
                <td>{% rate stat.download stat.weizhan %}</td>
                <td>{{ stat.users }} </td>
                <td>{% rate stat.users stat.weizhan 100 4 %}</td>
            </tr>
        {% endfor %}
    </table>
    <h4>微信</h4>
    <table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
        <tr>
            <th>成员</th>
            <th>PV</th>
            <th>下载页</th>
            <th>转化率</th>
            <th>关联安装</th>
            <th>转化率</th>
        </tr>
        {% for stat in item.sum.wx %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.weizhan }}</td>
                <td>{{ stat.download }}</td>
                <td>{% rate stat.download stat.weizhan %}</td>
                <td>{{ stat.users }} </td>
                <td>{% rate stat.users stat.weizhan 100 4 %}</td>
            </tr>
        {% endfor %}
    </table>
    <h4>分发明细</h4>
    <table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
        <tr>
            <th>成员</th>
            <th>文章</th>
            <th>分发时间</th>
            <th>PV</th>
            <th>二次分享</th>
            <th>下载页</th>
            <th>转化率</th>
            <th>关联安装</th>
            <th>转化率</th>
        </tr>
        {% for stat in item.items %}
            <tr>
                <td>{{ stat.name }}</td>
                <td align="left">{{ stat.title }}</td>
                <td>{{ stat.time }}</td>
                <td>{{ stat.weizhan }}</td>
                <td>{{ stat.reshare }} </td>
                <td>{{ stat.download }}</td>
                <td>{% rate stat.download stat.weizhan %}</td>
                <td>{{ stat.users }}</td>
                <td>{% rate stat.users stat.weizhan 100 4 %}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}