<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日活统计</title>
</head>
<body>
<table width="100%" cellpadding="2" cellspacing="2" border="1" style="border-collapse: collapse">
    <tr>
        <th>&nbsp;</th>
        <th>苹果</th>
        <th>安卓</th>
        <th>总数</th>
    </tr>
    <tr align="center">
        <td>今日</td>
        <td>{{ today.iphone }}</td>
        <td>{{ today.android }}</td>
        <td>{{ today.total }}</td>
    </tr>
    <tr align="center">
        <td>昨日同期</td>
        <td>{{ yesterday.iphone }}</td>
        <td>{{ yesterday.android }}</td>
        <td>{{ yesterday.total }}</td>
    </tr>
    <tr align="center">
        <td>新增</td>
        <td>{{ new.iphone }}</td>
        <td>{{ new.android }}</td>
        <td>{{ new.total }}</td>
    </tr>
</table>
</body>
</html>