{% load calc %}

<html>
<body>
<h3>{{ yesterday.app }}昨日扫码情况</h3>
<table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
    <tr>
        <th>扫码量</th>
        <td>{{ yesterday.total }}</td>
    </tr>
    <tr>
        <th>质量评分</th>
        <td>{{ yesterday.na }}</td>
    </tr>
    <tr>
        <th>红包查看数</th>
        <td>{{ yesterday.view }} ({% rate yesterday.view yesterday.total 100 2 %})</td>
    </tr>
    <tr>
        <th>红包领取数</th>
        <td>{{ yesterday.picked }} ({% rate yesterday.picked yesterday.total 100 2 %})</td>
    </tr>
</table>

<small><b>此处评分根据用户领劵过程，以及后续对APP使用情况进行评判，仅供参考，不作为最终质量验证标准。后续人工审核后会给出最终判定。评分越高越好，
    低于20务必督促扫码人进行改进，对领券人进行必要的讲解，提高质量</b></small>

<h3>昨日扫码初步评价</h3>
<table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
    <tr>
        <th>扫码人</th>
        <th>个数</th>
        <th>红包领取数</th>
        <th>评分</th>
    </tr>
    {% for item in yesterday_details %}
        <tr>
            <th align="left">{{ item.ownerName }} {{ item.shopName }}</th>
            <td>{{ item.useNum }}</td>
            <td>{{ item.pick }}</td>
            <td{% if item.rate < 20 %} style="color: red"{% endif %}>{{ item.rate }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>合计</th>
        <td>{{ yesterday.total }}</td>
        <td>{{ yesterday.picked }}</td>
        <td>{{ yesterday.na }}</td>
    </tr>
</table>
<h3>前日扫码留存情况</h3>
<table width="100%" border="1" style="border-collapse: collapse; text-align: center" cellpadding="5">
    <tr>
        <th>扫码人</th>
        <th>个数</th>
        <th>红包领取数</th>
        <th>次日使用APP数</th>
    </tr>
    {% for item in yesterday_remains %}
        <tr>
            <th align="left">{{ item.name }}</th>
            <td>{{ item.total }}</td>
            <td>{{ item.pick }} ({% rate item.pick item.total 100 2 %})</td>
            <td{% if item.ratio < 0.25 %} style="color: red"{% endif %}>{{ item.remain }}
                ({% rate item.remain item.total 100 2 %})
            </td>
        </tr>
    {% endfor %}

    <tr>
        <th>合计</th>
        <td>{{ yesterday_remain.total }}</td>
        <td>{{ yesterday_remain.picked }} ({% rate yesterday_remain.picked yesterday_remain.total 100 2 %})</td>
        <td>{{ yesterday_remain.remain }} ({% rate yesterday_remain.remain yesterday_remain.total 100 2 %})</td>
    </tr>
</table>
</body>
</html>